@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

.filter {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5625em;
    padding-right: 0.375em;
    cursor: pointer;

    h4 {
      font-family: fonts.$font-family;
      font-weight: 400;
      font-size: 1.25em;
      color: colors.$black;
    }
    img {
      width: 15px;
      height: 8px;
      transition: 0.2s all;
      &.close {
        transform: rotate(180deg);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.4375em;
    margin-bottom: 1.8125em;

    &.close {
      display: none;
    }
    li {
      label {
        font-family: fonts.$font-family;
        font-weight: 400;
        font-size: 1.125em;
        color: colors.$neutral-neutral-800;
        display: flex;
        align-items: center;
        cursor: pointer;
        input {
          height: 20px;
          width: 20px;
          margin-right: 0.5em;
        }
      }
    }
  }
}
