:root {
  --white: #fff;
  --black: #000;
  --neutral-neutral-50: #f6f6f6;
  --neutral-neutral-100: #e7e7e7;
  --neutral-neutral-200: #d1d1d1;
  --neutral-neutral-300: #b0b0b0;
  --neutral-neutral-400: #888;
  --neutral-neutral-500: #6d6d6d;
  --neutral-neutral-600: #5d5d5d;
  --neutral-neutral-700: #4f4f4f;
  --neutral-neutral-800: #454545;
  --neutral-neutral-900: #363636;
  --neutral-neutral-950: #262626;
  --system-colors-system-successful-successful-50: #edfce9;
  --system-colors-system-successful-successful-100: #d7f8cf;
  --system-colors-system-successful-successful-200: #b3f1a5;
  --system-colors-system-successful-successful-300: #83e670;
  --system-colors-system-successful-successful-400: #45d22d;
  --system-colors-system-successful-successful-500: #39bd25;
  --system-colors-system-successful-successful-600: #28961a;
  --system-colors-system-successful-successful-700: #217318;
  --system-colors-system-successful-successful-800: #1f5b19;
  --system-colors-system-successful-successful-900: #1d4e19;
  --system-colors-system-successful-successful-950: #092b08;
  --system-colors-system-error-error-50: #fff1f1;
  --system-colors-system-error-error-100: #ffdfdf;
  --system-colors-system-error-error-200: #ffc5c5;
  --system-colors-system-error-error-300: #ff9d9d;
  --system-colors-system-error-error-400: #ff6464;
  --system-colors-system-error-error-500: #ff3838;
  --system-colors-system-error-error-600: #ed1515;
  --system-colors-system-error-error-700: #c80d0d;
  --system-colors-system-error-error-800: #a50f0f;
  --system-colors-system-error-error-900: #881414;
  --system-colors-system-error-error-950: #4b0404;
  --system-colors-system-warning-warning-50: #fffbeb;
  --system-colors-system-warning-warning-100: #fff3c6;
  --system-colors-system-warning-warning-200: #ffe588;
  --system-colors-system-warning-warning-300: #ffd557;
  --system-colors-system-warning-warning-400: #ffbd20;
  --system-colors-system-warning-warning-500: #f99b07;
  --system-colors-system-warning-warning-600: #dd7402;
  --system-colors-system-warning-warning-700: #b75006;
  --system-colors-system-warning-warning-800: #943d0c;
  --system-colors-system-warning-warning-900: #7a330d;
  --system-colors-system-warning-warning-950: #461902;
  --background-bg-light-gray: #fafafa;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Bebas Neue', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
